* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;  
  line-height: 1.5;
  color: #ffffff;
}

h1 {font-size: 3em;}
h2 {font-size: 2.6em;}
h3 {font-size: 2.2em;}
h4 {font-size: 1.8em;}

p {font-size: 1.6em;}

a {
  text-decoration: none;
  color: #ce3535;
}

body {  
  background: url('https://d3t4nwcgmfrp9x.cloudfront.net/upload/metodologia-scrum.jpg') no-repeat center center/cover;
  background-attachment: fixed;  
  min-height: 100vh;  
  padding: 20px;
}

#nav-buttons {    
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  max-width: 35em;
  margin: 20px auto;
}

#nav-buttons button {
  margin: 5px auto;
  width: 5em;
}

@media only screen and (max-width: 500px) {
  
  .card-flex-items {
    flex-direction: column-reverse;
  }
  .card-img {
    margin-bottom: 10px;
  }
  .container-2 {
    width: 100%;
  }
  #nav-buttons {
    max-width: 18em;
  }
  .btn {
    font-weight: bold;
  }
  body {
    font-weight: bold;
  }
}

@media only screen and (min-width: 501px) {

  .container {
    width: 100%;
  }
  .container-2 {
    width: 100%;
  }
  html {
    font-size: 90%;
  }

}
